body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.results-container {
    max-width: 1200px; /* Un ancho máximo para el contenido principal */
}

.trip-item:hover {
    transform: translateY(-4px); /* Ligero levantamiento al pasar el mouse */
}